<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
</head>

<body>

    <!-- component -->
    <!-- AlpineJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.8.1/cdn.min.js" defer></script>

    <!-- Slider Component Container -->
    <div class="flex flex-col items-center justify-center mt-16" x-cloak x-data="appData()" x-init="appInit()">
        <div class="flex flex-col">
            <!-- Page Scroll Progress -->
            <div class="fixed inset-x-0 top-0 z-50 h-0.5 mt-0.5
            bg-blue-500" :style="`width: ${percent}%`"></div>

            <!-- Navbar -->
            <nav class="flex justify-around py-4 bg-white/80
            backdrop-blur-md shadow-md w-full
            fixed top-0 left-0 right-0 z-10">

                <!-- Logo Container -->
                <div class="flex items-center">
                    <!-- Logo -->
                    <a class="cursor-pointer">
                        <h3 class="text-2xl font-medium text-blue-500">
                            <img class="h-10 object-cover"
                                src="https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg"
                                alt="Store Logo">
                        </h3>
                    </a>
                </div>

                <!-- Links Section -->
                <div class="items-center hidden space-x-8 lg:flex">
                    <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">
                        Home
                    </a>

                    <a class="flex text-gray-600 
                    cursor-pointer transition-colors duration-300
                    font-semibold text-blue-600">
                        Themes
                    </a>

                    <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">
                        Developers
                    </a>

                    <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">
                        Pricing
                    </a>

                    <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">
                        Blog
                    </a>

                    <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">
                        About Us
                    </a>
                </div>

                <!-- Icon Menu Section -->
                <div class="flex items-center space-x-5">
                    <!-- Register -->
                    <a class="flex text-gray-600 hover:text-blue-500
                    cursor-pointer transition-colors duration-300">

                        <svg class="fill-current h-5 w-5 mr-2 mt-0.5" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path
                                d="M12 0L11.34 .03L15.15 3.84L16.5 2.5C19.75 4.07 22.09 7.24 22.45 11H23.95C23.44 4.84 18.29 0 12 0M12 4C10.07 4 8.5 5.57 8.5 7.5C8.5 9.43 10.07 11 12 11C13.93 11 15.5 9.43 15.5 7.5C15.5 5.57 13.93 4 12 4M12 6C12.83 6 13.5 6.67 13.5 7.5C13.5 8.33 12.83 9 12 9C11.17 9 10.5 8.33 10.5 7.5C10.5 6.67 11.17 6 12 6M.05 13C.56 19.16 5.71 24 12 24L12.66 23.97L8.85 20.16L7.5 21.5C4.25 19.94 1.91 16.76 1.55 13H.05M12 13C8.13 13 5 14.57 5 16.5V18H19V16.5C19 14.57 15.87 13 12 13M12 15C14.11 15 15.61 15.53 16.39 16H7.61C8.39 15.53 9.89 15 12 15Z" />
                        </svg>

                        Register
                    </a>

                    <!-- Login -->
                    <a class="flex text-gray-600 
                    cursor-pointer transition-colors duration-300
                    font-semibold text-blue-600">

                        <svg class="fill-current h-5 w-5 mr-2 mt-0.5" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path
                                d="M10,17V14H3V10H10V7L15,12L10,17M10,2H19A2,2 0 0,1 21,4V20A2,2 0 0,1 19,22H10A2,2 0 0,1 8,20V18H10V20H19V4H10V6H8V4A2,2 0 0,1 10,2Z" />
                        </svg>

                        Login
                    </a>
                </div>
            </nav>
        </div>

        <!-- component -->
        <div class="bg-gray-500 h-screen w-screen sm:px-8 md:px-16 sm:py-8">
            <main class="container mx-auto max-w-screen-lg h-full">
                <!-- file upload modal -->
                <article aria-label="File Upload Modal"
                    class="relative h-full flex flex-col bg-white shadow-xl rounded-md" ondrop="dropHandler(event);"
                    ondragover="dragOverHandler(event);" ondragleave="dragLeaveHandler(event);"
                    ondragenter="dragEnterHandler(event);">
                    <!-- overlay -->
                    <div id="overlay"
                        class="w-full h-full absolute top-0 left-0 pointer-events-none z-50 flex flex-col items-center justify-center rounded-md">
                        <i>
                            <svg class="fill-current w-12 h-12 mb-3 text-blue-700" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z" />
                            </svg>
                        </i>
                        <p class="text-lg text-blue-700">Drop files to upload</p>
                    </div>

                    <!-- scroll area -->
                    <form method="post" action="/merge" class="h-full overflow-auto p-8 w-full h-full flex flex-col"
                        enctype='multipart/form-data'>
                        <header
                            class="border-dashed border-2 border-gray-400 py-12 flex flex-col justify-center items-center">
                            <p class="mb-3 font-semibold text-gray-900 flex flex-wrap justify-center">
                                <span>Drag and drop your</span>&nbsp;<span>files anywhere or</span>
                            </p>
                            <!-- accept = .pdf for pdf -->
                            <input id="hidden-input" name="pdfs" type="file" multiple class="hidden" accept=".pdf" />
                            <button id="upload" type="button"
                                class="mt-2 rounded-sm px-3 py-1 bg-gray-200 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
                                Upload a file
                            </button>
                        </header>

                        <h1 class="pt-8 pb-3 font-semibold sm:text-lg text-gray-900">
                            To Upload
                        </h1>

                        <ul id="gallery" class="flex flex-1 flex-wrap -m-1">
                            <li id="empty"
                                class="h-full w-full text-center flex flex-col items-center justify-center items-center">
                                <img class="mx-auto w-32"
                                    src="https://user-images.githubusercontent.com/507615/54591670-ac0a0180-4a65-11e9-846c-e55ffce0fe7b.png"
                                    alt="no data" />
                                <span class="text-small text-gray-500">No files selected</span>
                            </li>
                        </ul>
                        <div class="flex justify-end px-8 pb-8 pt-4">
                            <button id="submit" type="submit"
                                class="rounded-sm px-3 py-1 bg-blue-700 hover:bg-blue-500 text-white focus:shadow-outline focus:outline-none">
                                Upload now
                            </button>
                            <button id="cancel" type="button"
                                class="ml-3 rounded-sm px-3 py-1 hover:bg-gray-300 focus:shadow-outline focus:outline-none">
                                Cancel
                            </button>
                        </div>
                    </form>
                </article>
            </main>
        </div>

        <!-- using two similar templates for simplicity in js code -->
        <template id="file-template">
            <li class="block p-1 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6 xl:w-1/8 h-24">
                <article tabindex="0"
                    class="group w-full h-full rounded-md focus:outline-none focus:shadow-outline elative bg-gray-100 cursor-pointer relative shadow-sm">
                    <img alt="upload preview"
                        class="img-preview hidden w-full h-full sticky object-cover rounded-md bg-fixed" />

                    <section
                        class="flex flex-col rounded-md text-xs break-words w-full h-full z-20 absolute top-0 py-2 px-3">
                        <h1 class="flex-1 group-hover:text-blue-800"></h1>
                        <div class="flex">
                            <span class="p-1 text-blue-800">
                                <i>
                                    <svg class="fill-current w-4 h-4 ml-auto pt-1" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M15 2v5h5v15h-16v-20h11zm1-2h-14v24h20v-18l-6-6z" />
                                    </svg>
                                </i>
                            </span>
                            <p class="p-1 size text-xs text-gray-700"></p>
                            <button
                                class="delete ml-auto focus:outline-none hover:bg-gray-300 p-1 rounded-md text-gray-800">
                                <svg class="pointer-events-none fill-current w-4 h-4 ml-auto"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path class="pointer-events-none"
                                        d="M3 6l3 18h12l3-18h-18zm19-4v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711z" />
                                </svg>
                            </button>
                        </div>
                    </section>
                </article>
            </li>
        </template>

        <template id="image-template">
            <li class="block p-1 w-1/2 sm:w-1/3 md:w-1/4 lg:w-1/6 xl:w-1/8 h-24">
                <article tabindex="0"
                    class="group hasImage w-full h-full rounded-md focus:outline-none focus:shadow-outline bg-gray-100 cursor-pointer relative text-transparent hover:text-white shadow-sm">
                    <img alt="upload preview"
                        class="img-preview w-full h-full sticky object-cover rounded-md bg-fixed" />

                    <section
                        class="flex flex-col rounded-md text-xs break-words w-full h-full z-20 absolute top-0 py-2 px-3">
                        <h1 class="flex-1"></h1>
                        <div class="flex">
                            <span class="p-1">
                                <i>
                                    <svg class="fill-current w-4 h-4 ml-auto pt-" xmlns="http://www.w3.org/2000/svg"
                                        width="24" height="24" viewBox="0 0 24 24">
                                        <path
                                            d="M5 8.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5zm9 .5l-2.519 4-2.481-1.96-4 5.96h14l-5-8zm8-4v14h-20v-14h20zm2-2h-24v18h24v-18z" />
                                    </svg>
                                </i>
                            </span>

                            <p class="p-1 size text-xs"></p>
                            <button class="delete ml-auto focus:outline-none hover:bg-gray-300 p-1 rounded-md">
                                <svg class="pointer-events-none fill-current w-4 h-4 ml-auto"
                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path class="pointer-events-none"
                                        d="M3 6l3 18h12l3-18h-18zm19-4v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711z" />
                                </svg>
                            </button>
                        </div>
                    </section>
                </article>
            </li>
        </template>

    </div>


</body>
<script src="js/index.js"></script>

</html>